@charset "UTF-8";
//============================================================
// 变量列表
//============================================================

// 长度
$formLabelWidth:            80px;
$formLabelWidthLong:        180px;

$formInputWidth:            180px;
$formInputWidthMed:         250px;
$formInputWidthLong:        480px;

// 颜色
$formBorderColor:           #d6d6d6;
$formBorderErrorColor:      #ce7171;
$formBgDisabledColor:       #f1f1f1;
$tdBorderColor:             #eee;